streamlit>=1.32.0
pandas>=2.0.0
python-dotenv>=1.0.0

langgraph>=0.2.20
langchain>=0.2.15
langchain-core>=0.2.35
langchain-community>=0.2.15
langchain-groq>=0.1.9
#langchain-openai>=0.1.22

tavily-python>=0.3.3
google-genai>=0.3.0